test/etc/
test/Lib/
test/Scripts/
test/share/
test/pyvenv.cfg
test/.gitignore
test/.ipynb_checkpoints/
test/__pycache__


real/etc/
real/Lib/
real/Scripts/
real/share/
real/pyvenv.cfg
real/.gitignore
real/.ipynb_checkpoints/
real/__pycache__